
.vs/Car_Music_Sort/v15/.suo
*.lock
.vs/Car_Music_Sort/v15/Server/sqlite3/storage.ide
.vs/Car_Music_Sort/v15/Server/sqlite3/storage.ide-shm
.vs/Car_Music_Sort/v15/Server/sqlite3/storage.ide-wal
bin/Debug/Car_Music_Sort.exe
bin/Debug/Car_Music_Sort.exe.config
bin/Debug/Car_Music_Sort.pdb
obj/Debug/Car_Music_Sort.csproj.CoreCompileInputs.cache
obj/Debug/Car_Music_Sort.csproj.FileListAbsolute.txt
obj/Debug/Car_Music_Sort.csproj.GenerateResource.cache
obj/Debug/Car_Music_Sort.csprojAssemblyReference.cache
obj/Debug/Car_Music_Sort.exe
obj/Debug/Car_Music_Sort.Form1.resources
obj/Debug/Car_Music_Sort.pdb
obj/Debug/Car_Music_Sort.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
